body {
  background-color: MediumVioletRed;
}

h1 {
  font-family: "Courier New", monospace;
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
}
img {
  display: block;
  margin: auto;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: white;
}
